<div id="mainDiv">

    <!--Reporter part-->
    <div class="reporter" style="display: none">
        <h5 id="urllabel">Room URLs:</h5>
        <table id="urls"></table>
        <button id="modifybtn">Modify room contents</button>
    </div>

    <!--Observer part-->
    <div class="observer" style="display: none">
        <h5>Subscribed rooms:</h5>
        <table id="rooms"></table>
    </div>
</div>
