<div id="mainDiv">

    <!--Reporter part-->
    <div class="reporter" style="display: none">
        <h5 id="urllabel">Room URL:<p id="url"></p></h5>
        <button id="modifybtn">Modify room contents</button>
    </div>

    <!--Observer part-->
    <div class="observer" style="display: none">
        <form class="urlform">
            Room URL: <input class="roomurl" type="text" name="roomurl"><br>
            <input type="submit" value="subscribe">
        </form>
        <!--<button id="addchildbtn">Add child</button>-->
    </div>
</div>
