<div id="mainDiv">
    <!--Reporter part-->
    <div class="reporter">
        <h5 id="text">Hyperty loaded and should be working, please check the console</h5>
        <button id="modifybtn">Modify room contents</button>
    </div>
</div>
