<div class="selection-panel">
</div>

<div class="hyperty-panel">
</div>

<div class="invitation-panel">
</div>

<div class="hello-panel">
</div>

<div class="msg-panel">
</div>

<div class="bye-panel hide">
  <form class="say-bye"> Message: <input class="message-input" type="text" name="message"><br><input type="submit" value="Say Bye"></form>
</div>
