<div class="selection-panel">
</div>

<div class="hyperty-panel">
</div>
<p>Email</p><input class="email-input" type="text"><br>
<button class="search-btn hide btn waves-effect waves-light">Search</button>

<div class="row">
  <ul class="collection ">
  </ul>
</div>
<a class="bt-label hide">Battery:</a>
<span class="value_battery"></span><br>
<a class="steps-label hide">Steps:</a>
<span class="value_step"></span>

<div class="bye-panel">
</div>

<div class="msg-panel">
</div>
