<div class="selection-panel">
</div>

<div class="hyperty-panel">
</div>
<p>Email</p><input class="email-input" type="text"><br>
<button class="search-btn hide btn waves-effect waves-light">Search</button>

<div class="row">
  <ul class="collection ">
  </ul>
</div>

<div class="bye-panel">
</div>

<div class="msg-panel">
</div>
