<div cla'hyperties:descriptor'ss="result-pannel">
    <H3>UserActivityObserver Hyperty Deployed</H3>
</div>
Tokens:
<p class="token-amount"></p>
{{!-- walking --}}
<p>Walking distance: </p>
<p class="walking-distance">X</p>
<p>Walking tokens: </p>
<p class="walking-tokens">X</p>
<br />

<button class="stop-hyperty">Stop</button>
<button class="restart-hyperty">Restart</button>


