<div class="card-panel teal lighten-2 white-text"></div>

<div>
    <div id="survey"/>
    <textarea id="answer">
        {"frameworkUsing":"Yes","framework":["Bootstrap"],"mvvmUsing":"Yes","mvvm":["KnockoutJS"],"about":"aaaa"}
    </textarea>
    <button id="send_response">Send Response</button>
</div>
