<div id="hyperty-panel" class="dark" data-spy="scroll" data-target="navbar">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link href="dtwebrtc/css/dark.css" rel="stylesheet">
  <link href="dtwebrtc/css/style.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>


  <nav class="navbar navbar-default">
    <div class="container-fluid ">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <i style="color: #444444;" class="fa fa-bars"></i>
        </button>
        <img class="navbar-brand logo" id="logo" src="dtwebrtc/media/logo.png" href="#">
        <a class="navbar-brand big-text" rel="home" href="#">
              reTHINK-DT-HfTL-CallCenter
            </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse ">
        <div class="input-group searchemail" data-name="DTHCsender">
          <input type="email" class="friend-email block2 validate form-control " style="font-size: 16px; width: 50%; border-right: none;" placeholder="your friends email" id="email">
          <input type="text" class="friend-domain block2 validate form-control" style="font-size: 16px; width: 50%;" placeholder="your friends domain" id="domain">
          <span class="input-group-btn"><button id="gosearch" class="btn btn-default">Search</button>
                  <!--button  class="btn btn-default"  onclick="toggleSettings();"><i style="color: #777;"  class="fa fa-cog fa-1x fa-fw"></i></button-->
                </span>
        </div>
        <div></div>
        <br>
        <div></div>
        <div>
          <form class="form-horizontal" role="form" id="settings" style="display:none;" class="settings">
            <div class="darktext form-group">
              <label class="col-sm-1 control-label">Stun</label>
              <div class="col-sm-4">
                <input id="stun" class="form-control" value="" placeholder="">
              </div>
              <label class="col-sm-1 control-label">Turn</label>
              <div class="col-sm-4">
                <input id="turn" class="form-control" value="numb.viagenie.ca" size="20" placeholder="numb.viagenie.ca">
              </div>
              <label>
                <input type="checkbox" id="strictice">use strict</label>
            </div>
            <div class="darktext form-group">
              <label class="col-sm-1 control-label">user</label>
              <div class="col-sm-4">
                <input id="turn_user" class="form-control" value="steffen.druesedow@telekom.de" size="10" placeholder="steffen.druesedow@telekom.de">
              </div>
              <label class="col-sm-1 control-label">pass</label>
              <div class="col-sm-4">
                <input id="turn_pass" class="form-control" value="" size="10" type="password" />
              </div>
            </div>
            <div class="darktext form-group">
              <div class="col-sm-6"></div>
              <div class="col-sm-4">
                <select value="" class="darktext" id="camResolution"></select>
              </div>
              <div class="col-sm-2">
                <button type="submit" id="saveConfig" class="btn btn-default btn-sm">Save profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="main-content container">
    <!-- <div class="main-content container-fluid"> -->
    <div class="row">
      <!--div class="col-sm-1"></div-->
      <div id="content" class="content col-sm-12 hide">
        <div id="info">
          <div class="hyperty-panel"></div>
          <div class="send-panel"></div>
          <div class="invitation-panel"></div>
        </div>
        <div id="video" class="row hide">
          <div class="col-sm-10">
            <video id="remoteVideo" class="smallVideo " autoplay poster="dtwebrtc/media/load3.gif" ></video>
            <video id="localVideo" class="fullVideo " muted autoplay poster="dtwebrtc/media/load3.gif" ></video>
          </div>
          <div class="col-sm-2">
            <fieldset class="form-fieldset">
              <legend>local media</legend>
              <div class="form-checkbox-set">
                <label><input type="checkbox" id="local-video" value="1" class="form-checkbox" checked>video</label>
              </div>
              <div class="form-checkbox-set">
                <label><input type="checkbox" id="local-audio" value="1" class="form-checkbox" checked>audio</label>
              </div>
            </fieldset>
            <fieldset class="form-fieldset">
              <legend>remote media</legend>
              <div class="form-checkbox-set">
                <label><input type="checkbox" id="remote-video" value="1" class="form-checkbox" checked>video</label>
                <label><input type="checkbox" id="remote-video" value="1" class="form-checkbox" checked>video</label>
              </div>
              <div class="form-checkbox-set">
                <label><input type="checkbox" id="remote-audio" value="1" class="form-checkbox" checked>audio</label>
              </div>
              <button id="hangup"  class="btn btn-default btn-sm ">hangup</button>
            </fieldset>
          </div>
        </div>
      </div>
      <!--div class="col-sm-1"></div-->
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="information" id="modalinfo"></div>
          <!--div class="modal-footer"-->
          <div>
            <button type="button" id="btn-accept" class=" btn btn-default" data-dismiss="modal">accept</button>
            <button type="button" id="btn-reject" class=" btn btn-default" data-dismiss="modal">reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
