<script src="https://maps.google.com/maps/api/js?key=AIzaSyCoWjtVK6HxqgDWCWMhXy1Z55C7LvAlu_4"></script>
<script src="location/gmaps.js"></script>
<style type="text/css">
    #map {
      width: 400px;
      height: 400px;
    }
</style>
<div id="map" class="col s12">
</div>
