<div class="card-panel teal lighten-2 white-text"></div>

<div class="row notification-form">
    <div>
        Participants
    </div>
    <div class="participants">
        <form class="participants-form">
        </form>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light btn-add" type="submit" name="action">Add Participant<i class="material-icons right">add</i></button>
    </div>
</div>
<div class="row">
    <div>
        Notification
    </div>
    <div class="input-field col s8">
      <textarea name="notification" type="textarea" rows="20" cols"200">
      </textarea>
    </div>
</div>
<div class="row">
    <button class="btn waves-effect waves-light btn-send" type="submit" name="action">Send</button>
</div>
