<div class="selection-panel">
</div>

<div class="card-panel teal lighten-2 white-text"></div>

<section class="discover row hide">

  <H1>Test Integration</H1>
  <form class="form col s12 subscribe-legacy-form">

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="your friend's name" id="subscribe-legacy-name" required aria-required="true" type="text" class="subscribe-legacy-name-input validate">
        <label for="email" style="width: 100%;" data-error="the name format should be like legacy://domain/user">search by name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s8">
        <button class="subscribe-legacy-btn waves-effect waves-light btn" type="submit"><i class="material-icons left">import_export</i>Subscribe</button>
      </div>
    </div>
  </form>

</section>

<div class="row">
  <ul class="collection">
  </ul>
</div>

<a class="availability-label"></a>
<span class="value_availability"></span><br>

<div id="container" class="hide" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<style>
#user-list .state-unavailable {
    background: rgba(192,192,192,0.3);
}
#user-list .state-away {
    background: rgba(255,255,0,1);
}
#user-list .state-available {
    background: rgba(0,255,0,1);
}
#user-list .state-busy {
    background: rgba(255,0,0,1);
}
</style>
<ul id="user-list" class="user-list"></ul>
