<h2>CodeGeneratorReporter Hyperty</h2>

<div class="request-code-panel">
  <form class="requet-code"> Team name: <input class="message-input" type="text" name="message"><br><input type="submit" value="Submit"></form>
</div>

<div class="code-panel">
</div>
