<div cla'hyperties:descriptor'ss="result-pannel">
    <H3>Wallet Hyperty Deployed</H3>
</div>

<a class="token-label">Wallet</a>
<p>- Tokens: <a class="token-value">-</a></p>
<p>- Ranking: <a class="wallet-ranking">-</a></p>
<p>- Bonus credit: <a class="bonus-credit">-</a></p>
<p>- # Accounts: <a class="accounts">-</a></p>

<button class="wallet-delete">Delete</button>
<button class="wallet-read">Read</button>


