<div cla'hyperties:descriptor'ss="result-pannel">
    <H3>Wallet Hyperty Deployed</H3>
</div>

<a class="token-label">Wallet</a>
<p>- Tokens: <a class="token-value">X</a></p>
<p>- Ranking: <a class="wallet-ranking">X</a></p>


